
<div class="main container">
<div class="navbar">
    <div class="site-name">
        <p style="font-size:45px">ECC INPM Application</p>
    </div>
 <hr>
    <div class="site-menu">
        <br>
        <a href="HOME" style="color:white">HOME</a>
        <a href="AUDIT" style="color:white">AUDIT</a>
        <a href ="PARAMETERS" style="color:white">PARAMETERS</a>
        <a href="LOGOUT" style="color:white">LOGOUT</a>
        
        
    </div>
 
</div>


    <div class="foot">
        <div class="foot1">
            <b style="color:white;">Copyright Ⓒ︎ 2023, Florida Power & Light Company. All rights reserved</b>
    
        </div>
        <div class="foot2">
            <p style="color:white;">This site is optimized for the following browsers: Microsoft Edge 15+, Firefox 48+, Chrome 57+, Safari 10+</p>
        </div>
    
    </div>


<div class="main-content">
   <router-outlet></router-outlet>
   
   
</div>
</div>
