.header{
    height:280px;
text-align:center;
   
    background-color:#fff;
}
.site-slogan{
    text-align: center;
    font-size: 20px;
}
    
.site-sle{
    text-align: center;
    font-size: 20px;
}